/* Place CSS styles here */
.button {
  background-color: rgb(49, 35, 8);
  border: none;
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
}

  .sbutton:hover{
    background-color: white;
        }

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
  }
  
  body {
    background-color: rgb(201, 174, 136);
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  /* HEADER */
  .hippocampus-header-wrapper,
  .hippocampus-main-content-wrapper,
  .hippocampus-footer-wrapper {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .hippocampus-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
  }
  
  .hippocampus-logo {
    width: 130px;
  }
  
  .hippocampus-main-nav {
    display: flex;
    gap: 16px;
  }
  
  .hippocampus-main-nav a {


  }
  
  .hippocampus-main-nav a:hover {
    color: black;
  }
  
  .hippocampus-intro {
    font-family: 'Syncopate', sans-serif;
      background:
        
        //url(../img/heart-water-splash.jpeg);
      padding-top: 150px;
      padding-bottom: 150px;
      background-position: center;
      background-size: cover;
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
    }
  }
  
  .hippocampus-social-link:hover {
    border: 1px solid black;
  }
  
  .hippocampus-social-links {
    display: flex;
    gap: 16px;
  }
  
  .hippocampus-social-link-image {
    width: 32px;
  }
  
  .hippocampus-team-list {
    padding-left: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 4px;
  }
  
  @media (max-width: 999px) {
    .hippocampus-team-list {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
  }
  
  .hippocampus-team-list a {
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: grayscale(.5);
    text-decoration: none;
    
  }


  .hippocampus-team-list a:hover {
    filter: grayscale(0);
  }
  
  .hippocampus-team-list p {
    font-size: 20px;
  }
  
  .hippocampus-contact-form {
    border: 1px solid black;
    padding: 20px;
    border-radius: 20px;
    background: white;
  }
  
  .hippocampus-feature-content {
    display: flex;
    gap: 40px;
  }
  
  .hippocampus-feature-image {
    max-width: 250px;
  }
  
  .hippocampus-feature-images {
    display: flex;
    gap: 12px;
  }
  
  .hippocampus-footer-wrapper {
    padding-top: 32px;
    border-top: 1px solid black;
    margin-top: 32px;
  }
  
  .hippocampus-footer {
    display: flex;
    justify-content: space-between;
  }

  @import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body{
  height: 100%;
  font-weight: 800;
}

body{
  background: rgb(201, 174, 136);
  font-family: Arial;
}

svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
  stroke: #4D163D;
  animation-delay: -1;
}

.text-copy:nth-child(2){
  stroke: #840037;
  animation-delay: -2s;
}

.text-copy:nth-child(3){
  stroke: #BD0034;
  animation-delay: -3s;
}

.text-copy:nth-child(4){
  stroke: #BD0034;
  animation-delay: -4s;
}

.text-copy:nth-child(5){
  stroke: #FDB731;
  animation-delay: -5s;
}

@keyframes stroke-offset{
  100% {stroke-dashoffset: -35%;}
}

* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  transition: background 0.2s linear;
}
body.dark {
  background-color: #292c35;
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 50px;
  height: 26px;
  background-color:#111;
  display: flex;
  border-radius:50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball{
  transform: translateX(24px);
}

.fa-moon {
  color: pink;
}

.fa-sun {
  color: yellow;
}

