/* Place CSS styles here */
.button {
  background-color: rgb(49, 35, 8);
  border: none;
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
}

  .sbutton:hover{
    background-color: white;
        }

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
  }
  
  body {
    background-color: rgb(201, 174, 136);
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  /* HEADER */
  .hippocampus-header-wrapper,
  .hippocampus-main-content-wrapper,
  .hippocampus-footer-wrapper {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .hippocampus-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
  }
  
  .hippocampus-logo {
    width: 130px;
  }
  
  .hippocampus-main-nav {
    display: flex;
    gap: 16px;
  }
  
  .hippocampus-main-nav a {


  }
  
  .hippocampus-main-nav a:hover {
    color: black;
  }
  
  .hippocampus-intro {
    font-family: 'Syncopate', sans-serif;
      background:
        
        //url(../img/heart-water-splash.jpeg);
      padding-top: 150px;
      padding-bottom: 150px;
      background-position: center;
      background-size: cover;
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
    }
  }
  
  .hippocampus-social-link:hover {
    border: 1px solid black;
  }
  
  .hippocampus-social-links {
    display: flex;
    gap: 16px;
  }
  
  .hippocampus-social-link-image {
    width: 32px;
  }
  
  .hippocampus-team-list {
    padding-left: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 4px;
  }
  
  @media (max-width: 999px) {
    .hippocampus-team-list {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
  }
  
  .hippocampus-team-list a {
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: grayscale(.5);
    text-decoration: none;
    
  }


  .hippocampus-team-list a:hover {
    filter: grayscale(0);
  }
  
  .hippocampus-team-list p {
    font-size: 20px;
  }
  
  .hippocampus-contact-form {
    border: 1px solid black;
    padding: 20px;
    border-radius: 20px;
    background: white;
  }
  
  .hippocampus-feature-content {
    display: flex;
    gap: 40px;
  }
  
  .hippocampus-feature-image {
    max-width: 250px;
  }
  
  .hippocampus-feature-images {
    display: flex;
    gap: 12px;
  }
  
  .hippocampus-footer-wrapper {
    padding-top: 32px;
    border-top: 1px solid black;
    margin-top: 32px;
  }
  
  .hippocampus-footer {
    display: flex;
    justify-content: space-between;
  }

  @import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body{
  height: 100%;
  font-weight: 800;
}

body{
  background: rgb(201, 174, 136);
  font-family: Arial;
}

svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
  stroke: #4D163D;
  animation-delay: -1;
}

.text-copy:nth-child(2){
  stroke: #840037;
  animation-delay: -2s;
}

.text-copy:nth-child(3){
  stroke: #BD0034;
  animation-delay: -3s;
}

.text-copy:nth-child(4){
  stroke: #BD0034;
  animation-delay: -4s;
}

.text-copy:nth-child(5){
  stroke: #FDB731;
  animation-delay: -5s;
}

@keyframes stroke-offset{
  100% {stroke-dashoffset: -35%;}
}

<!-- Parallax -->
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway';
}

body {
  background: black;
  scroll-behavior: smooth;
}

.parallax {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1477353822394-80a4b0a3c493?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=ff04213f3d2f0c54aaa47a34bb91df30");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: white;
  font-size: 8em;
}

h1 span {
  background: linear-gradient(rgba(0, 0, 0, 0) 65%, rgba(255, 255, 255, 0.3) 35%)
}

.screen {
  height: 100vh;
  position: absolute;
  width: 100%;
  top: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, black 95%);
}

.flex {
  width: 90%;
  margin: 40px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  height: 300px;
  margin: 10px 0;
  width: 30%;
  color: white;
  font-size: 1em;
}

.double {
  width: 65%;
  background-image: url("https://static.pexels.com/photos/371633/pexels-photo-371633.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.double-2 {
  background-image: url("https://images.unsplash.com/photo-1437422061949-f6efbde0a471?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=3743c450231eda3df43a243f1cca2fc0");
}

p {
  text-align: justify;
}

#more {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-image: url("https://static.pexels.com/photos/371633/pexels-photo-371633.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.second-screen {
  background: rgba(0, 0, 0, 0.77);
}

.second-screen p {
  color: white;
  width: 80%;
  margin: 7% auto;
  font-size: 20px;
  line-height: 170%;
}

a {
  color: #27D;
  font-weight: bold;
  text-decoration: none;
  margin: 15px 0;
}

.screen a {
  font-size: 16px;
}